<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GamerZone Blog
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">GamerZone Blog</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!-- First Blog Post -->
                <h2>
                    <a href="http://www.wired.com/category/gamelife/">GameLife</a>
                </h2>
                <p class="lead">
                    by <a href="http://www.wired.com/category/gamelife/">Revolution Gaming</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on October 23, 2015 at 10:00 PM</p>
                <hr>
                <a href="http://www.wired.com/category/gamelife/">
                    <img class="img-responsive img-hover" src="images/blog1.jpg" alt="blog image">
                </a>
                <hr>
                <p>Game Life blog is part of the always awesome Wired network. Just like each and everyone of the Wired blogs, GameLife also features in depth articles with high quality content. Extensive interviews with game developers and comprehensive reviews with high resolution screenshots are highlights of this blog.</p>
                <a class="btn btn-primary" href="http://www.wired.com/category/gamelife/">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Second Blog Post -->
                <h2>
                    <a href="http://www.ign.com/">FPS Video Gamer</a>
                </h2>
                <p class="lead">
                    by <a href="http://www.ign.com/">Zementis</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on October 23, 2015 at 10:45 PM</p>
                <hr>
                <a href="http://www.ign.com/">
                    <img class="img-responsive img-hover" src="images/blog2.jpg" alt="blog image">
                </a>
                <hr>
                <p>FPS Videogamer blog is dedicated only to First Person Shooting games. Popular games like Halo, Call of Duty, Medal of Honor etc. are FPS games and the blog covers those among other similar titles. The blog is quite young and has been around for just six months but has content posted at regular intervals. They have exclusive blogs for Modern Warfare 2 and Call of Duty: Black Ops in their network as well...</p>
                <a class="btn btn-primary" href="http://www.ign.com/">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Third Blog Post -->
                <h2>
                    <a href="http://www.giantbomb.com/">Giant Bomb</a>
                </h2>
                <p class="lead">
                    by <a href="http://www.giantbomb.com/">Laurence Moroney, Developer Advocate</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on October 23, 2015 at 10:45 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="images/blog3.png" alt="blog mage">
                </a>
                <hr>
                <p>When Giant Bomb claims to be the world’s largest editable video game database, they aren’t lying. With Wiki like actions, users can actually edit the content of a large portion of the content posted in the site. If you are a fan of Anime or comics, do check out their sister blogs in the network. ...</p>
                <a class="btn btn-primary" href="http://www.giantbomb.com/">Read More <i class="fa fa-angle-right"></i></a>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Mobile</a>
                                </li>
                                <li><a href="#">iOS</a>
                                </li>
                                <li><a href="#">Android</a>
                                </li>
                                <li><a href="#">BigData</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Internet of Things</a>
                                </li>
                                <li><a href="#">Sensors</a>
                                </li>
                                <li><a href="#">Web UI design</a>
                                </li>
                                <li><a href="#">Data Mining</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>About GamerZone Blog</h4>
                    <p>The mission of this blog is to encourage a sharing of ideas and innovations related to gaming, playstation of things and xbox technologies. Categories like iOS, Android, text mining.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>

   <%- include footer.ejs %>
</body>

</html>
