<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <div class="myBackground container">

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Game Categories</h2>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/2.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Action</h2>
                        <p> 
                            <a href="/gameCatalog/action">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/6.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Adventure</h2>
                        <p> 
                            <a href="/gameCatalog/adventure">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/12.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Indie</h2>
                        <p> 
                            <a href="/gameCatalog/indie">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/sports/10.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Sports</h2>
                        <p> 
                            <a href="/gameCatalog/sports">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/16.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Role-Playing</h2>
                        <p> 
                            <a href="/gameCatalog/roleplaying">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/18.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Shooter</h2>
                        <p> 
                            <a href="/gameCatalog/shooter">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/20.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Simulation</h2>
                        <p> 
                            <a href="/gameCatalog/simulation">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/adventure/22.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Strategy</h2>
                        <p> 
                            <a href="/gameCatalog/strategy">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/action/12.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Mac Games</h2>
                        <p> 
                            <a href="/gameCatalog/macgames">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="hovereffect">
                    <img class="img-responsive" src="/images/action/20.jpg" alt="adventure image">
                    <div class="overlay">
                        <h2>Linux Games</h2>
                        <p> 
                            <a href="/gameCatalog/linuxgames">Enter</a>
                        </p> 
                    </div>
                </div>
            </div>
        </div>

        <hr>



    </div>
    <!-- /.container -->

   <%- include footer.ejs %>
</body>

</html>
