<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <div class="myBackground container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Game Categories</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/2.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/17.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/action/6.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/21.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/action/14.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/23.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/sports/11.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/15.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/action/8.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/sports/5.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/action/10.jpg" alt="adventure image">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/gameCatalog/adventure">
                    <img class="img-responsive" src="/images/adventure/1.jpg" alt="adventure image">
                </a>
            </div>
        </div>

        <hr>



    </div>
    <!-- /.container -->

   <%- include footer.ejs %>
</body>

</html>
