

    <!-- Footer and Social media -->
    <footer class="container">
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/GamerZone" data-widget-id="658396675510177792">#GamerZone Tweets</a>
            </div>

            <div class="col-md-6">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/OnlineGames" data-widget-id="658408832608022528">#OnlineGames Tweets</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; GameZone Inc. 2016</p>
            </div>
        </div>
    </footer>

    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>


    <script type="text/javascript">stLight.options({publisher: "f922cf59-7b53-42cc-881d-3225cba63c4c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script>
    var options={ "publisher": "f922cf59-7b53-42cc-881d-3225cba63c4c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "googleplus", "blogger", "digg", "linkedin", "pinterest", "email", "sharethis"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>
