<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner5.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Alan Wake</a>
                        </h2>
                        <p>When the wife of the best-selling writer Alan Wake disappears on their vacation, his search turns up pages from a thriller he doesn’t even remember writing. A Dark Presence stalks the small town of Bright Falls, pushing Wake to the brink of sanity in his fight to unravel the mystery and save his love.
                        </p><p>Presented in the style of a TV series, Alan Wake features the trademark Remedy storytelling and pulse-pounding action sequences. As players dive deeper and deeper into the mystery, they’ll face overwhelming odds, plot twists, and cliffhangers. It’s only by mastering the Fight With Light combat mechanic that they can stay one step ahead of the darkness that spreads across Bright Falls, in this psychological action thriller.
                        </p><p>With the body of an action game and the mind of a psychological thriller, Alan Wake’s intense atmosphere, deep and multi-layered story, moments of sudden horror, and exceptionally tense combat sequences provide players with an entertaining and original gaming experience.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>I really love this game, having played it on Xbox. After I put it into the console, it didn't leave until I finished the game! Fantastic story, spooky as hell sometimes, I could really feel my heart pounding a couple of times xD It also reminded me of many of Stephen Kings storys, and Twin Peaks, which is a very similar town to Bright Falls(the town in this game). Voice acting is great, and the music is perfect... Every one can look foreward to standing on stage during one of Old Gods of Asgard's definitive hits.. xD Very messy review.. sorry for that xD</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>Remedy did it again. An engrossing story where a happy ending seems almost impossible. The gameplay is very interesting and tense at first, but as you begin to face seemingly endless waves of shadows, it becomes more than a bit monotonous at times. That being said, the story kept me going and will lead me to play again on the hardest difficulty setting, if only to read a few more pages of the manuscript.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>This game tries hard to tell a (rather hackneyed) story and for that I applaud the effort. Unfortunately, they forgot to put in game play that isn't horribly frustrating an repetitive. There is no fun to be had fighting the "taken", it's just cheap and frustrating when they keep popping up. I found myself wanted to get past them just to move the story along. They are nothing but unnecessary road blocks. Couple that with a dreadful check point save system and an unmovable camera that makes it impossible to walk in a straight line half the time and this game fails. I had high hopes and spent more than I usually would on this game.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
