<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner6.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Leisure Suit - Larry's Yacht</a>
                        </h2>
                        <p> When we last saw our less-than-dashing hero, Leisure Suit Larry, he was in a rather sticky situation. Not one to be tied down, Larry makes the best of things by going on a cruise to forget the previous escapade. Once he arrives on the deck, he finds out there’s a Mega-Contest for the heart and body of one Captain Thigh, the sexiest sea captain this side of the Atlantic. Our hero must use his wits and wiles...wait, he’ll just cheat and “win” his way into the Captain’s bedroom. Set sail for steamy adventure on the high seas!
                        </p><p>Leisure Suit Larry: Love for Sail! drops a world-class lounge lizard onto a cruise ship filled with gorgeous women and side-splitting slapstick. Using the latest and greatest technology of the time, the Grope ‘n’ Click interface is perfect for those moments of “one handed mousing”. No more icons! No more messing around! If that’s not enough, you can always type in your own personalized and customized responses and see what happens. Don't miss the final classic installment of the hottest point-and-click adventure in existence!</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>Leisure Suit Larry 7 is one of the best produced, funniest, and most enjoyable adventure games I've ever played. This is Sierra Online at their finest. The voice acting is fantastic, and the animations are superb. It makes you wonder what Al Lowe and company would have been able to make had Sierra stayed around just a bit longer. If you have any love for point and click classics, as well as raunchy (but ultimately innocent) humor, this game is an absolute no brainer. I cannot recommend it enough.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p> I haven't played the GOG version yet, but I own the original US release, and it has some great Easter Eggs (including nudity of most of the main "goals"... example: try "push"ing that pesky branch at the pool). My favorite part was finding all the hidden "Where's Dildo" didlos ("YEAH BABY!"). There are 32 hidden in the various scenes throughout the game. IF you get 1000 points, find all of the Easter Eggs AND all the didlos you'll get the Captain Thygh Easter Egg. A lofty goal indeed.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>This is a MUST buy for any adventure fan who enjoys humor and sexyness...:) The humor is top of the line, the voice acting is HILARIOUS and characters are colorful. Puzzles are for the most part logic (if you know puzzle-adventure games logi... :P ) but for some ridiculous few exceptions.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
