<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner9.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Race Driver Grid</a>
                        </h2>
                        <p>t’s all about the race - from the adrenaline rush at the starting line to elation at the checkered flag.
                        </p><p>Featuring only the very best and most powerful race cars – new and classic, circuit and drift – you’ll compete to conquer the most prestigious official race tracks and championships and then go beyond to compete in challenging city-based competitions, road events, and urban street races. The high-octane races will have your heart pumping as you encounter engine failure, tire blowouts, tight overtaking, accidents, opponent cars flipping, spinning, collisions with other cars and trackside objects all in beautifully rendered in Codemasters' own Ego engine.
                        </p><p>Become a champion and build your own team to compete at unique race locations around the world. In Europe, test your skills on the greatest official race circuits in prestige marques including Aston Martin, Koenigsegg and Pagani. Enter street competitions and race high performance V8 muscle cars through iconic cities including San Francisco, Washington DC and Detroit. In the Far East, Japanese racing culture sets the tone where night races, including Drift racing, take you through neon illuminated cities and to outlying mountain roads. Gentlemen, start your engines, put your pedal to the metal, and get ready for hot racing action in Race Driver GRID.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>GRID is a good arcade-simulation game. No worries on car-settings, just sit behind the wheel, push the gas and race. You will smell petrol and smoke, you will see tyre-particles on windshield while pushing it to the limits. Not recommended for those who like to setup the car under the hood, but ideal if you just want a good ride. 4 star is I'm also missing the possibility to fine-tuning and upgrading the car.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>This is not a racing sim, nor is it an arcade racer - this is a hybrid of the two. The good parts - there is a great sense of speed, which makes the ride very tense and exciting. This game also has above-average engine sounds and amazing damage detail. The bad parts are the controls and physics - often you will flip because of the tiniest bumps, your car will spin out because the game often can't tell how much you are turning or braking (even when using analog controls).</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>This game sports both muscle and modern cars, Tracks also come in two flavors fictional and real.
                            For a game that is part arcade part simulation GRID does really well, if you want a challenge try turning off the driving assists and hold tight to your seat.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
