<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner3.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">MotoRacer II</a>
                        </h2>
                        <p>First, there was Moto Racer - an unforgettable, fast-paced and thoroughly satisfying racing game. Then Moto Racer 2 came, took everything that was great about its predecessor and made it even better! The fun-factor is still there, stronger than ever, supplemented by all sorts of new stuff. You've got a wide range of tracks - a whopping 32 in total - you've got great third-person animations and a great first-person camera that lets you feel just how fast you're going. Last, but not least, the game comes with a track editor, giving it virtually infinite replayability. All this makes Moto Racer 2 one of the best arcade racers for the PC.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>The game runs without any problems on older and newer hardware. Tested on XP and Vista 64. The maximum resolution of 1024 x 768. Revived memories. Super fun for the whole family :). I especially recommend the game for 4 people on one screen.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>Awesome, stellar racer. This is a must-buy for anyone who likes racing games, arcade games, or both. It is an arcade racer in every sense of that genre, but the mostly-lack of realism is what makes it good.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>Great game but this version is impossible to win with (until hopefully GOG comes up with a patch). The game is hobbled in that you can't use the top two gears in each of the motorcycle styles. You can still win races with the road course bikes, but winning in the dirt bike races is pretty much impossible. Come on patch! It'll get 4 or 5 stars from me then.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
