<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner7.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Resonance</a>
                        </h2>
                        <p>A particle physicist’s mysterious and spectacular death sparks a race to find his hidden vault and claim his terrifying new discovery. The player will take control of four characters whose lives become entangled in the search for the scientist’s vault. They will have to learn to trust each other and work together to overcome the obstacles in their way and to keep this new and powerful technology out of the hands of a dangerous organization.
                        </p><p>Resonance is a joint effort between Wadjet Eye and xii games. It's been five years in the making, and it's without-a-doubt their longest and most ambitious game to date. This gem is made by gamers for gamers, and you can clearly see that in almost every element of the game. From the polished and intuitive interface, through well balanced puzzles, all the way to the fun and gripping story, you can tell that xii games knows how to get the job done right. So if you are an old-school adventure game fan then this game should scratch all the old-skool gaming itches you’ve been feeling while delighting you with its innovations and story. </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This retro style game is created to mimic older style point and click adventure games, but with improved 32bit graphics, and modernized audio and UI. It is refreshing to play a modern take on the older style of game, and Resonance is best described as a retro game with a modern touch.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I  have just finished my first play through of Resonance. First thought: Waaaaayyyyy to short. We are dealing with a lot of topics here and there is just not enough time to fully develop them all. Due to that you will see some plot points just jump in and out of the game without adding anything to the game. The story itself looks great but as I said underdeveloped due to time constraints.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>The puzzles are decent, but again, the hyped "memory inventory" becomes frustrating quickly. Multiply this with the selectable 4-player approach, plus an annoying interface (designers: never EVER design an interface using mouse hovers!) and you'll get a VERY frustrating game to play.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
