<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner8.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Insane</a>
                        </h2>
                        <p>No longer constrained by tracks and circuits, 1nsane takes you off-road in an entertaining single-player racing championship and lets you challenge friends via LAN or online. Choose from a variety of vehicles and locations to put your off-road skills to the test, competing in one of seven unique game modes that capture the chaos and freedom of 4x4 racing.
                        </p><p>Want to try something new? Then give the environment generator a shot, offering nearly limitless options to create free-form environments for you to explore. Real-time vehicle damage and weather conditions combine with TV-style coverage and dynamic replays to drive the action to 1nsane levels.
                        </p><p>Forget rules, forget roads. 1nsane takes you to the world's most extreme locations and lets you drive all over them. Put your foot down and take on Internet players from across the globe. It's not just driving – It's driving you mad!  /p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>I got the demo for this game on some random collection of demos years ago. I had never heard anything about it but was blown away. I loved it so much I bought the full version as soon as it hit the shelves. Unfortunately it got lost in the market.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I remember playing the game with my friends when i was young. We had so many great times with the crashing in the game. The handling of the cars is the best any driving game has to offer. You'll have so much fun playing this. GET THIS GAME!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>1nsane is very fast paced and fun racing arcade simulator. Cars feel great to drive, physics are good and adrenaline rush is constant. There's lots of cars and many game modes to select from. Game feels great even at 1player game. I think it will be insanely good as multiplayer and i'm sure that I will experience it soon as I've recommended it to all of my friends already. Graphics are decent do it's magic. It's bit outdated, true - but to be honest most of the time driving is so hectic and fun that there's no time to enjoy the views for prolonged periods.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
