<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner2.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">STAR WARS™: X-Wing</a>
                        </h2>
                        <p>ncludes STAR WARS™: X-Wing and all Tour of Duty expansions: Imperial Pursuit and B-Wing in all three versions: 1993 (DOS), 1994 (DOS CD), and 1998 (Windows) versions!
                        </p><p>It is the dawn of the rebellion.
                        </p><p>The Old Republic is gone. The Senate has been abolished. The Jedi Knights have been exterminated. Now the Emperor seeks to crush the last remaining opposition. Against the overwhelming might of the Empire stands a small but growing Rebel Alliance.
                        </p><p>Scattered resistance groups are uniting and what is needed most now are Starfighter pilots. Will you join their struggle to end this tyranny and become a hero of the Rebellion?
                        </p><p>Suit up, climb aboard your own personal X-Wing and prepare to fight for your life. Out-maneuver the evil Empire's TIE fighters and Star Destroyers and blast them into oblivion.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>There are conflicting accounts in the reviews on whether the Collector's CD-ROM version (1994) is included. I was even more uncertain since the product description explicitly states it includes "X-Wing Collector's CD-ROM... 1994". Well, I took a $10 shot and verified it: it does NOT include the 1994 version as advertised. Only the 1993 original and the 1998 remake. What a buzzkill! I'm sure the 1998 version is ok, but it doesn't have iMUSE and forces you to use a joystick, whereas with 1993 you lose the graphics advantages that came with the Collector's CD-ROM. Call me Goldilocks but you could have nailed it by including the 1994 version</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I have not yet played this version, but replayed some of the old DOS release of X-Wing in 2011, so I've definitely experienced it with modern eyes.
                            This game really, really holds up. The spare graphics and limited resolution are barely noticeable, because the 3D designs are so clean. The transition/loading screens aren't too pretty anymore, but once you're actually in the game engine itself, it looks fabulous. The UI feels quite modern, lacking the interface problems so common in older titles. I wouldn't be shocked to discover that X-Wing pioneered some of the unwritten interface standards we've come to expect.
                            Couple caveats:
                            First, I had a rough time with a 360 controller in the DOSBox version, which is why I dropped it.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>today is my birthday. these were my favorite games growing up. i recently discovered that i had lost the discs! but this makes everything better. life is once again worth living. may the force be with us all.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
