<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner1.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Knight 2 - The Beast Within</a>
                        </h2>
                        <p>The Beast Within is the second installment of the trilogy presenting the dark adventures of Gabriel “Schattenjäger” Knight. This time the protagonist is on the trail of a strange wolf, murderer of a little girl. Gabriel was asked to take care of this evil and suspects that this case is paranormal in nature. Together with his assistant, Grace Nakimura, he discovers the dark truth behind the history of Bavaria.
                        </p><p>The game employs full motion video technology to its fullest. The actors move through photo-realistic sceneries and every action leads to an FMV sequence. The game is a classic point-and-click adventure where you lead two characters through masterfully designed riddles, tons of life-like detective work and perfectly scripted dialogue. The friendly user interface is a finishing touch making this title a masterpiece you don't want to miss.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>In the second installment of the Gabriel Knight series, Gabriel (Dean Erickson) is in Germany where he is coming into his inheritance as a monster hunter. Circumstances soon see his friend and assistant Grace Nakimura (Joanne Takahashi) joining him in Germany to investigate a mystery involving Neuschwanstein Castle, local legends of a werewolf, and a lost Wagnerian opera. You'll take turns controlling Grace and Gabriel to unravel the mystery in different locations around Munich. For the time, the game was amazingly well-done. The attention to story, detail, acting, costuming, and sets combined to create a truly breakthrough experience. For a point-and-click type adventure game the engine works quite well and the video does make it fairly realistic; immersive for its time even.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>GK2: The Beast Within is one of the few FMV games (along with the Tex Murphy series) that stands firmly as a &quot;true&quot; hardcore adventure game that doesn't become an interactive movie in the bad sense (=&quot;click to see the next video&quot;). Tim Curry is missed as the voice of Gabriel Knight but the cast is adequate and the puzzles are as good as you can expect from any other classic adventure game. Getting this 6 CD-ROM adventure for $5.99 is a great deal.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>This game is simply superb and I cannot recommend it enough. The story is magnificent, the music and ambiance are to notch and is full of historic references. So much, in fact, that it &quot;made&quot; me go to southern Bavaria for a summer holiday... and I kept going for another two! If there is a game that really marked both my gaming and personal life, this is it! Buy it, buy it, buy it, and now you can even play it without swapping the whole 5 original CD's!</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
