<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>

<body>

<%- include nav.ejs %>

    <!-- Page Content -->
    <div class="myBackground container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/banner/banner0.jpg" alt="banner image">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h2><a href="#">Chronicles Of Riddick</a>
                        </h2>
                        <p> You are Riddick, the most wanted man in the universe. The enigmatic anti-hero of Riddick is famous, of course, from the runaway sleeper hit of 2000--Pitch Black--and its sequel, The Chronicles of Riddick. This game takes place before either of the movies, filling in some of the backstory of Riddick’s dark and dangerous past. Make a dramatic escape from Butcher Bay, the galaxy's deadliest prison, in this intense fusion of first-person shooter, fighter, and stealth adventure.
                        </p><p>There is a rule that licensed games based on movies are typically, well, not too good. The Chronicles of Riddick does not simply break this rule, it obliterates the rule and dances on its still-warm ashes. Some even say that this game has greatly exceeded the movies it was based upon. David Twohy (the scriptwriter for both Riddick movies) and Vin Diesel both contributed to the game’s development, assuring a maximum level of consistency with the world shown on the big screen. The level of polish is astonishing throughout the entire game. The stealth/adventure/brawler/RPG gameplay is slick and intuitive, characters are interesting and “alive”, and the combat is fun and visually realistic (which is a nice way of saying “bloody”). So find for yourself it you have what it takes to not only survive in Butcher's Bay and assault the Dark Athena, the most dangerous places in the universe, but also make them bow to your will. 
                        </p><p>The Chronicles of Riddick: Assault on Dark Athena includes a graphically enhanced remake The Chronicles of Riddick: Escape from Butcher Bay and the sequel, Assault on Dark Athena.
                        </p><p>This excellent game won a number of editor’s choice awards from places like IGN, GameSpot, and GameSpy.
                        The main character--Riddick--is voiced and partially designed by Vin Diesel himself.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            5.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>TEscape from Butcher bay was a surprise hit. It looked great, it played great, it sounded great. It mixed FPS, first person brawler, stealth, adventure and RPG elements in a very fun and thought out way. And it's PC release was, albeit slightly strange in few technical things (the highest shader settings were tied to one generation, and only that generation, of nVidia cards), but had several exclusive bonuses, such as Director's Commentary (with floating markers like in Valve games), had great 5.1 surround support a level and, more importantly for PC gaming, had the ability to quicksave. And for some strange reason, both quicksaving and director's commentary are completely missing from this release.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>Not having the stupid TAGES DRM is reason enough for me to get this :D</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>The grumble of machinery as you round a darkened corner, crouched low and out of sight. Out in the light you spot a piece of meat whistling tunelessly, unaware of your prescence. He thinks his gun makes him invincible. He's dead wrong. Effortlessly you approach from behind. His neck breaks like balsa. You drag his body away into the shadows. Another day in the life of the universe's most dangerous criminal. I've owned no fewer than four copies of this extraordinary masterpiece of atmosphere and design. From it's original release on the Xbox, to its PC rerelease, its remastering for the 360 and now again for the PC. Riddick is an extraordinary melding of many gameplay styles; it's a stealth game, a shooter, a social RPG, an open world puzzler</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


   <%- include footer.ejs %>
</body>

</html>
