<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="google-site-verification" content="2xgYaY7E9v3e9DecFp_MsonyEJavjSWHUuSmOvnyNR0" />
    <link href="images/favicon.png" type="image/x-icon" rel="shortcut icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="CMPE 280 team alpha game catalog site.">
    <meta name="keywords" content="Games,CMPE280,TeamAlpha,takvjgames">
    <meta name="author" content="">

    <title>GamerZone Inc.</title>

    <!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<video autoplay id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="/images/video.mp4" type="video/mp4">
</video>
<div id="polina">
  <h1>GamerZone</h1>    
  <button>Enter the GameZone</button>
</div>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>


</body>

</html>