<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="google-site-verification" content="2xgYaY7E9v3e9DecFp_MsonyEJavjSWHUuSmOvnyNR0" />
    <link href="images/favicon.png" type="image/x-icon" rel="shortcut icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="CMPE 280 team alpha game catalog site.">
    <meta name="keywords" content="Games,CMPE280,TeamAlpha,takvjgames">
    <meta name="author" content="">

    <title>GamerZone Inc.</title>

    <!-- Custom CSS -->
    <link href="css/index.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<video autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
    <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>
<div id="polina">
  <h1>Polina</h1>
  <p>filmed by Alexander Wagner 2011
    <p><a href="//demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video">original article</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at
        convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
      <p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
      <button>Pause</button>
</div>



<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- custom -->
<script src="js/index.js"></script>

</body>

</html>