 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    GamerZone Inc.
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="gameCatalog/action">Action</a>
                            </li>
                            <li>
                                <a href="gameCatalog/adventure">Adventure</a>
                            </li>
                            <li>
                                <a href="gameCatalog/indie">Indie</a>
                            </li>
                            <li>
                                <a href="gameCatalog/sports">Sports</a>
                            </li>
                            <li>
                                <a href="gameCatalog/roleplaying">Role-Playing</a>
                            </li>
                            <li>
                                <a href="gameCatalog/shooter">Shooter</a>
                            </li>
                            <li>
                                <a href="gameCatalog/simulation">Simulation</a>
                            </li>
                            <li>
                                <a href="gameCatalog/strategy">Strategy</a>
                            </li>
                            <li>
                                <a href="gameCatalog/mac">Mac Games</a>
                            </li>
                            <li>
                                <a href="gameCatalog/linux">Linux Games</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/management">Team</a>
                            </li>
                            <li>
                                <a href="/location">Stores</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/blog">Community</a>
                    </li>
                    <li style="padding-top:12px;">
                        <div id="google_translate_element"></div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
