 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    GamerZone Inc.
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-top:12px;">
                        <div id="google_translate_element"></div>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="gameCatalog/action">Action</a>
                            </li>
                            <li>
                                <a href="gameCatalog/adventure">Adventure</a>
                            </li>
                            <li>
                                <a href="gameCatalog/indie">Indie</a>
                            </li>
                            <li>
                                <a href="gameCatalog/sports">Sports</a>
                            </li>
                            <li>
                                <a href="gameCatalog/roleplaying">Role-Playing</a>
                            </li>
                            <li>
                                <a href="gameCatalog/shooter">Shooter</a>
                            </li>
                            <li>
                                <a href="gameCatalog/simulation">Simulation</a>
                            </li>
                            <li>
                                <a href="gameCatalog/strategy">Strategy</a>
                            </li>
                            <li>
                                <a href="gameCatalog/mac">Mac Games</a>
                            </li>
                            <li>
                                <a href="gameCatalog/linux">Linux Games</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/management">Team</a>
                            </li>
                            <li>
                                <a href="/location">Stores</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/blog">Community</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                 <div class="row">
                                        <div class="col-md-12">
                                            Login via
                                            <div class="social-buttons">
                                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                            </div>
                                            or
                                             <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                    <div class="form-group">
                                                         <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                         <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                    </div>
                                                    <div class="form-group">
                                                         <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                         <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                         <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                                    </div>
                                                    <div class="form-group">
                                                         <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                    </div>
                                                    <div class="checkbox">
                                                         <label>
                                                         <input type="checkbox"> keep me logged-in
                                                         </label>
                                                    </div>
                                             </form>
                                        </div>
                                        <div class="bottom text-center">
                                            New here ? <a href="#"><b>Join Us</b></a>
                                        </div>
                                 </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
